name: lint-prettier

on:
  push:
    branches:
      - master
  pull_request: {}

concurrency:
  group: ${{ github.workflow }}-lint-${{ github.ref }}
  cancel-in-progress: true

jobs:
  prettier:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Master
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - name: Setup env
        uses: the-guild-org/shared-config/setup@v1
        with:
          node-version-file: .node-version
      - name: Prettier Check
        run: npm run prettier:check
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Master
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - name: Setup env
        uses: the-guild-org/shared-config/setup@v1
        with:
          node-version-file: .node-version
      - name: ESLint
        run: npm run lint
