name: release

env:
  NODE_OPTIONS: --max-old-space-size=4096

on:
  push:
    branches:
      - master
permissions: write-all

jobs:
  stable:
    if: github.event.pull_request.head.repo.full_name == github.repository
    uses: the-guild-org/shared-config/.github/workflows/release-stable.yml@main
    with:
      releaseScript: release
      nodeVersion: 18
    secrets:
      githubToken: ${{ secrets.GITHUB_TOKEN }}
      npmToken: ${{ secrets.NODE_AUTH_TOKEN }}
