name: release

env:
  NODE_OPTIONS: --max-old-space-size=4096

on:
  push:
    branches:
      - master
permissions: write-all

jobs:
  stable:
    permissions:
      contents: read
      id-token: write
    uses: the-guild-org/shared-config/.github/workflows/release-stable.yml@main
    with:
      releaseScript: release
      nodeVersion: 20
    secrets:
      githubToken: ${{ secrets.GUILD_BOT_TOKEN }}
      npmToken: ${{ secrets.NODE_AUTH_TOKEN }}
