name: release

env:
  NODE_OPTIONS: --max-old-space-size=4096

on:
  push:
    branches:
      - master
  pull_request:
    paths-ignore:
      - 'website/**'
permissions: write-all

jobs:
  stable:
    uses: the-guild-org/shared-config/.github/workflows/release-stable.yml@main
    with:
      releaseScript: release
      nodeVersion: 18
    secrets:
      githubToken: ${{ secrets.GITHUB_TOKEN }}
      npmToken: ${{ secrets.NODE_AUTH_TOKEN }}
