name: test

on:
  push:
    branches:
      - master
  pull_request:
    paths-ignore:
      - 'website/**'

env:
  NODE_NO_WARNINGS: true
  NODE_OPTIONS: '--max-old-space-size=8192'
  CI: true

concurrency:
  group: ${{ github.workflow }}-tests-${{ github.ref }}
  cancel-in-progress: true

jobs:
  type-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Master
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - name: Setup env
        uses: the-guild-org/shared-config/setup@v1
        with:
          node-version-file: .node-version
      - name: Type Check
        run: npm run ts:check
  unit:
    name: unit / node ${{matrix.node-version}}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [20, 22, 24]
      fail-fast: false
    steps:
      - name: Checkout Master
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - name: Setup env
        uses: the-guild-org/shared-config/setup@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: Cache Jest
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4
        with:
          path: .cache/jest
          key: ${{ runner.os }}-${{matrix.node-version}}-jest-${{ hashFiles('yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-${{matrix.node-version}}-jest-
      - name: Test
        uses: nick-fields/retry@ce71cc2ab81d554ebbe88c79ab5975992d79ba08 # v3
        with:
          timeout_minutes: 10
          max_attempts: 5
          command: npm run test --ci

  integration:
    name: integration / node ${{matrix.node-version}}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [20, 22, 24]
      fail-fast: false
    steps:
      - name: Checkout Master
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - name: Setup env
        uses: the-guild-org/shared-config/setup@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: Cache Jest
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4
        with:
          path: .cache/jest
          key: ${{ runner.os }}-${{matrix.node-version}}-jest-${{ hashFiles('yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-${{matrix.node-version}}-jest-
      - name: Build Packages
        run: npm run build
      - name: Test
        run: npm run test:integration --ci
        env:
          CI: true
  esm:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Master
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - name: Setup env
        uses: the-guild-org/shared-config/setup@v1
        with:
          node-version-file: .node-version
      - name: Build Packages
        run: npm run build
      - name: Test ESM
        run: npm run esm:check

  e2e:
    env:
      NODE_OPTIONS: --max-old-space-size=4096
      # Pulumi
      PULUMI_ACCESS_TOKEN: ${{ secrets.PULUMI_ACCESS_TOKEN }}
      # AWS
      AWS_ACCESS_KEY: ${{ secrets.AWS_ACCESS_KEY }}
      AWS_SECRET_KEY: ${{ secrets.AWS_SECRET_KEY }}
      AWS_REGION: ${{ secrets.AWS_REGION }}
      AWS_ACCOUNT_ID: ${{ secrets.AWS_ACCOUNT_ID }}
      # Azure
      AZURE_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
      AZURE_CLIENT_SECRET: ${{ secrets.AZURE_CLIENT_SECRET }}
      AZURE_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
      AZURE_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
      # CloudFlare
      CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
      CLOUDFLARE_ACCOUNT_ID: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
      CLOUDFLARE_ZONE_ID: ${{ secrets.CLOUDFLARE_ZONE_ID }}
      # Vercel
      VERCEL_AUTH_TOKEN: ${{ secrets.VERCEL_AUTH_TOKEN }}
      VERCEL_TEAM_ID: ${{ secrets.VERCEL_TEAM_ID }}
    strategy:
      matrix:
        plan: ['aws-lambda', 'cloudflare-workers', 'cloudflare-modules']
        # TODO: Add vercel and azure
      fail-fast: false
    name: e2e / ${{ matrix.plan }}

    runs-on: ubuntu-latest

    if: github.event.pull_request.head.repo.fork != true
    steps:
      - name: Checkout Repository
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - uses: denoland/setup-deno@v2
        with:
          deno-version: vx.x.x

      - name: Setup env
        uses: the-guild-org/shared-config/setup@v1
        with:
          node-version-file: .node-version

      - name: Build Packages
        run: npm run build

      - name: Install pulumi
        uses: pulumi/setup-pulumi@b374ceb6168550de27c6eba92e01c1a774040e11 # v2

      - name: Set outputs
        id: vars
        run: |
          echo "::set-output name=sha_short::$(git rev-parse --short HEAD)"
          echo "::set-output name=docker_host::$(docker context inspect --format '{{.Endpoints.docker.Host}}')"

      - name: Provision & Test
        run: npm run e2e
        working-directory: e2e/${{ matrix.plan }}
        env:
          # General
          COMMIT_ID: ${{ steps.vars.outputs.sha_short }}
      - name: Ensure Deletion
        run: npm run e2e
        if: ${{ always() }}
        working-directory: e2e/${{ matrix.plan }}
        env:
          COMMIT_ID: ${{ steps.vars.outputs.sha_short }}
          ENSURE_DELETION: 1
