name: test

on:
  push:
    branches:
      - master
  pull_request:
    paths-ignore:
      - 'website/**'

env:
  NODE_NO_WARNINGS: true
  NODE_OPTIONS: '--max-old-space-size=8192'
  CI: true

jobs:
  type-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Master
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - name: Setup env
        uses: the-guild-org/shared-config/setup@main
        with:
          nodeVersion: 20
      - name: Type Check
        run: yarn ts:check
  unit:
    name: unit / node ${{matrix.node-version}}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18, 20, 22]
      fail-fast: false
    steps:
      - name: Checkout Master
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - name: Setup env
        uses: the-guild-org/shared-config/setup@main
        with:
          nodeVersion: ${{ matrix.node-version }}
      - name: Cache Jest
        uses: actions/cache@d4323d4df104b026a6aa633fdb11d772146be0bf # v4
        with:
          path: .cache/jest
          key: ${{ runner.os }}-${{matrix.node-version}}-jest-${{ hashFiles('yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-${{matrix.node-version}}-jest-
      - name: Test
        if: ${{ matrix.node-version == 20 }}
        run: yarn test --ci
      - name: Test
        if: ${{ matrix.node-version != 20 }}
        uses: nick-fields/retry@ce71cc2ab81d554ebbe88c79ab5975992d79ba08 # v3
        with:
          timeout_minutes: 10
          max_attempts: 5
          command: yarn test --detectLeaks --detectOpenHandles --ci

  integration:
    name: integration / node ${{matrix.node-version}}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18, 20, 22]
      fail-fast: false
    steps:
      - name: Checkout Master
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - name: Setup env
        uses: the-guild-org/shared-config/setup@main
        with:
          nodeVersion: ${{ matrix.node-version }}
      - name: Cache Jest
        uses: actions/cache@d4323d4df104b026a6aa633fdb11d772146be0bf # v4
        with:
          path: .cache/jest
          key: ${{ runner.os }}-${{matrix.node-version}}-jest-${{ hashFiles('yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-${{matrix.node-version}}-jest-
      - name: Build Packages
        run: yarn build
      - name: Test
        run: yarn test:integration --ci
        env:
          CI: true
  esm:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Master
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - name: Setup env
        uses: the-guild-org/shared-config/setup@main
        with:
          nodeVersion: 20
      - name: Build Packages
        run: yarn build
      - name: Test ESM
        run: yarn esm:check
