name: website

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
permissions: write-all

concurrency:
  group: ${{ github.workflow }}-website-${{ github.ref }}
  cancel-in-progress: true

jobs:
  deployment:
    runs-on: ubuntu-latest
    if:
      github.event.pull_request.head.repo.full_name == github.repository || github.event_name ==
      'push'
    steps:
      - name: checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          fetch-depth: 0

      - uses: the-guild-org/shared-config/setup@v1
        name: setup env
        with:
          node-version-file: .node-version

      - uses: the-guild-org/shared-config/website-cf@v1
        name: build and deploy website
        env:
          NEXT_BASE_PATH: ${{ github.ref == 'refs/heads/master' && '/openapi/fets' || '' }}
          SITE_URL:
            ${{ github.ref == 'refs/heads/master' && 'https://the-guild.dev/openapi/fets' || '' }}
        with:
          cloudflareApiToken: ${{ secrets.WEBSITE_CF_API_TOKEN }}
          cloudflareAccountId: ${{ secrets.WEBSITE_CF_ACCOUNT_ID }}
          githubToken: ${{ secrets.GITHUB_TOKEN }}
          projectName: fets
          prId: ${{ github.event.pull_request.number }}
          websiteDirectory: ./
          buildScript: cd website && npm run build
          artifactDir: website/out
